{% extends 'base.html' %}
{% block titel %}Home{% endblock titel %}
{% block body %}
<h3 class="text-center">Bismillah Hir Rahmanir Rahim</h3>
<h4 class='text-center'>Data Telecommunication And Networking Technology</h4>

<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="static/img.jpg" style ='height:600px;' class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static/img.jpg" style ='height:600px;' class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="statimg.jpg" style ='height:600px;' class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
          <div class="card shadow-sm" style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" style="height: 392px;" alt="shakib">
             <div class="card-body">
              <p class="card-text">940878</p>
              <p class="card-text">Md Shakib</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
             <div class="card-body">
              <p class="card-text">940979</p>
              <p class="card-text">Kopil Ahmed</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
             <div class="card-body">
              <p class="card-text">940981</p>
              <p class="card-text">Riaz Uddin Rafel</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">

             <div class="card-body">
              <p class="card-text">940984</p>
              <p class="card-text">Sowrup Deb Nath</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">

             <div class="card-body">
              <p class="card-text">940885</p>
              <p class="card-text">Israt Jahan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">

             <div class="card-body">
              <p class="card-text">940886</p>
              <p class="card-text">Sumaiya Akhter</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">

             <div class="card-body">
              <p class="card-text">940887</p>
              <p class="card-text">Irfanul Hassan Rafi</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">

             <div class="card-body">
              <p class="card-text">940888</p>
              <p class="card-text">Rizvi Hossain Munna</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940890</p>
              <p class="card-text">Alimur Rahman</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940891</p>
              <p class="card-text">Tasin Ahmend</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940893</p>
              <p class="card-text">Md Yesin Zihad</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940895</p>
              <p class="card-text">Nabila Narjis</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940896</p>
              <p class="card-text">Juyel Rana</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940999</p>
              <p class="card-text">Jiyarul Islam</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940901</p>
              <p class="card-text">Mahmodul Islam Shohan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940903</p>
              <p class="card-text">Md Tarek Hossain</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940905</p>
              <p class="card-text">Saiyed Mahmud Bin Hossain</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940906</p>
              <p class="card-text">Md Nazim Uddin</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940907</p>
              <p class="card-text">Nurer Nahar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940909</p>
              <p class="card-text">Sumaiya Najnin</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940910</p>
              <p class="card-text">Ornob Mahmud</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940911</p>
              <p class="card-text">Md Shakib</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" style="height: 392px;" alt="shakib">
            <div class="card-body">
              <p class="card-text">940916</p>
              <p class="card-text">Minhaz Hossain Salman</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940917</p>
              <p class="card-text">Yeasin Arafat</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940918</p>
              <p class="card-text">Tasnia Nowrin Purnota</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940919</p>
              <p class="card-text">Khaleda Akhter</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" style="height: 392px;"alt="shakib">
            <div class="card-body">
              <p class="card-text">940920</p>
              <p class="card-text">Mahmudul Hassan Shibli</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940921</p>
              <p class="card-text">Hossain Ahmed Rahat</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940923</p>
              <p class="card-text">Mustafizur Rahman Emon</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">940924</p>
              <p class="card-text">Sanjida Akhter</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm"style="width: 312px;">
             <img src="static/img.jpg" class="card-img-top" alt="shakib">
            <div class="card-body">
              <p class="card-text">382129</p>
              <p class="card-text">Toawabuzzaman Araby</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Email</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Phone</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock body %}